<html>
	<head>
		<title>selamat datang di halaman ini</title>
		<style>
			.kotak {
				width: 700px;
				border-radius: 8px;
				margin: 100px 320px;
				background:#D7BDE2 ;
			}
			input {
				border-radius:5px;
			}
		</style>
	</head>
	<body bgcolor="#b39bc8">
		<div class="kotak" >
			<h2><center>Pendaftaran Akun Baru</center></h2>
			<table align="center">
				<form id="form1" action="">
					<tr>
						<td width="200px">Nama</td>
						<td>:</td>
						<td colspan="3"><input type="text" name="nama-lengkap" placeholder="masukkan nama lengkap" size="25" style: ></td>
					</tr>
					<tr>
						<td width="200px">Username</td>
						<td>:</td>
						<td colspan="3"><input type="text" name="user" placeholder="masukkan username" size="25" maxlength="18"></td>
					</tr>
					<tr>
						<td width="200px">Password</td>
						<td>:</td>
						<td colspan="3"><input type="password" name="password" size="25" placeholder="********"></td>
					</tr>
					<tr>
						<td width="200px">Umur</td>
						<td>:</td>
						<td colspan="3">
							<select name="umur">
								<option value="16">16</option>
								<option value="17">17</option>
								<option value="18">18</option>
							</select>
						</td>
					</tr>
					<tr>
						<td width="200px">Jenis Kelamin</td>
						<td>:</td>
						<td width="100px"><input type="radio" name="jenis-kelamin" value="pria">pria</td>
						<td><input type="radio" name="jenis-kelamin" value="wanita">wanita</td>
					</tr>
					<tr>
						<td width="200px">Alamat</td>
						<td>:</td>
						<td colspan="3">
							<textarea rows="5" cols="27" placeholder="masukkan alamat lengkap" style="border-radius: 5px"></textarea>
						</td>
					</tr>
					<tr>
						<td colspan="4"><input type="checkbox" name="setuju" value="setuju">saya setuju dengan syarat dan ketentuan yang berlaku.</td>
					</tr>
					<tr>
						<td align="right"><input type="reset" value="reset" id="form1"></td>
						<td><input type="submit" value="submit" id="form1"></td>
					</tr>
				</form>
			</table>
		</div>
	</body>
</html>
